@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,900&display=swap');

body {
  font-family: Lato;
  margin: 0 60px;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.action {
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.instructions {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
}